body {
    background-color:#f0f6ff;
}
.maintenance{
  display:flex;
  flex-flow: column;
    img{
        size:60%;
    }
}
.button-group {
    background-color:#aec0dd;
    border-radius: 100%;
    padding: 1rem;
}
 
