body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    color: #4CAF50; /* タイトルの色 */
}

#textToType {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#userInput {
    margin-top: 10px;
}

/* 読み上げボタン */
#readAloudButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em; /* スピーカーアイコンの大きさ */
    transition: background-color 0.3s;
}

#readAloudButton:hover {
    background-color: #45a049;
}
